@font-face {
    font-family: 'SketchFlowPrintRegular';
    src: url('sketchflowprint.eot');
    src: url('sketchflowprint.eot') format('embedded-opentype'),
         url('sketchflowprint.woff') format('woff'),
         url('sketchflowprint.ttf') format('truetype'),
         url('sketchflowprint.svg#SketchFlowPrintRegular') format('svg');
}
